/* Corpo da página, títulos e botões */
body{
    font-family: 'Nunito', sans-serif;
    color: #333;
}

h1,h2,h3{
    font-family: 'Asap', sans-serif;
    color: #410b0b;
}

.botao{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #b05656;
    font-size: .9em;
    border-radius: 3px;
}

.botao:hover{
    background-color: #924040;
}

/* Navegação */
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    width: 100%;
    font-size: larger;
    text-decoration: none;
    color: #410b0b;
}

nav ul li a:hover{
    color: #d87676;
}

.principal{
    padding: 10px 0px;
    margin-right: 70px;
}

.redes-sociais ul li{
    padding: 10px 0px;
    margin-left: 10px;
}

/* Cabeçalho */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imagens/estudio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 20px;
}

header h2{
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    color: #fff;
    margin-top: 2em;
    margin-bottom: 3em;
}

/* Quem Somos */
#quem-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 30px 20px;
    background-color: #f2efef;
    color: #1c1c1c;
}

#quem-somos p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#quem-somos h1 h2{
    margin-top: 200px;
}

/* Serviços */
#servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#servicos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#servicos h1 h2{
    margin-top: 120px;
}

/* Portifólio */
#portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;  
}

#portifolio h2{
    margin-bottom: 40px;
}

#portifolio img{
    width: 100%;
}

/* Contato */
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#contato p{
    margin-bottom: 80px;
    font-size: large;
}

#contato a{
    text-decoration: none;
    color: #410b0b;
}

/* Rodapé */
footer{
    text-align: center;
    padding: 20px;
    background-color: #f2efef;
}

footer p{
    margin-top: 20px;
    margin-bottom: 0px;
}

.redes-sociais ul li{
    padding: 10px 0px;
    margin-left: 10px;
    text-align: center;
    width: 100%;
}

/* Login */
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 30px 20px;
    background-color: #f2efef;
    color: #1c1c1c;
}
#login p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#login h2{
    margin-top: 10px;
    text-align: center; 
}

#login a{
    color: #410b0b;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    padding-left: 80px;
}

#login a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

input {
    display: flex;
    align-items: center;
    color: #1c1c1c;
    height: 40px;
    width: 350px;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(46, 5, 5, 0.5);
    font-size: 18px;
    outline: none;
}

input[type=submit] {
    height: 60px;
    width: 100%;
    background-color: #b05656;
    color: white;
    border: none;
    text-indent: 8.8em;
}

input[type=submit]:hover {
    background-color: #410b0b;
    color: white;
    cursor: pointer;
}

/* Cadastro */
#cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 30px 20px;
    background-color: #f2efef;
    color: #1c1c1c;
}
#cadastro p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#cadastro h2{
    margin-top: 20px;
    text-align: center;
}

#cadastro a{
    color: #410b0b;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    padding-left: 120px;
}

#cadastro a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px){
    /* Navegação */
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }

    /* cabeçalho */
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    /* Quem Somos*/
    #quem-somos{
        height: 250px;
        height: 50vh;
        justify-content: center;
        min-height: 250px;
    }

    /* Serviços */
    #servicos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #servicos h2{
        text-align: center;
        width: 100%;
    }
    #servicos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    /* Portifólio */
    #portifolio{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #portifolio h2{
        width: 100%;
        text-align: center;
    }
    #portifolio img{
        width: 33.3333333%;
    }
    

    /* Contato */
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2, #contato p{
        width: 100%;
    }
}